@import '~sanitize.css';
@import 'vars.styl';
@import 'header.styl';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.intro {
  background-color: #C8C8C8;
  width: 100vw;
  height: 100vh;
  display:flex;
}

nav {
  color: black;
  font-family: Helvetica;
  font-size: 25px;
  }

.name {
    position: absolute;
    margin:8px;
    line-height: 5px;
    top: 5%;
    left: 3%;
}
.menu {   
    top: 4%;
    right: 3%;
    position: absolute;
}
.hamburguer {
   background-color: black;
    flex-direction: column;
    height: 5px;
    width: 40px;
    align-items: center;
    margin: 7px;
  }

